@tailwind base;
@tailwind components;
@tailwind utilities;
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}
.px-4 {
    padding-left: .4rem;
    padding-right: .4rem;
}
.p-6 {
    padding: 0;
}